---
interface Props {
  className?: string;
}

// assets
import amtrak from "src/assets/images/amtrak.webp";
import bridge from "src/assets/images/bridge.webp";
import capitolInterior from "src/assets/images/capitol-interior.webp";
import coffee from "src/assets/images/coffee.webp";
import meetup from "src/assets/images/meetup.webp";
import sunflowers from "src/assets/images/sunflowers.webp";
import towerRecords from "src/assets/images/tower-records.webp";

// components
import { Picture } from "astro:assets";

// data
const workExpJson = [
  {
    name: "Self-study",
    description:
      "I began my journey as a developer by learning from online courses such as Codecademy and freeCodeCamp. I continued to enhance my understanding of advanced concepts through blogs, YouTube, and books.",
    image: "coffee",
    imageAlt: "A cup of coffee sitting on a laptop. Image by AltumCode.",
    startYear: "2015",
    endYear: "",
  },
  {
    name: "FreeCodeCamp Organizer",
    description:
      "I organized community events for people who shared a common interest in learning how to code. I conducted multiple classes, talks, and devoted my time to helping others learn.",
    image: "meetup",
    imageAlt: "A freeCodeCamp community event held at a coffee shop",
    startYear: "2016",
    endYear: "2019",
  },
  {
    name: "Kore Innovations",
    description:
      "My first contract position and professional job as a developer involved working with Ruby on Rails, a technology that was initially unfamiliar to me. I collaborated closely with the CEO to deliver features for various clients.",
    image: "bridge",
    imageAlt:
      "Arial view of the Guy A. West Memorial Bridge. Image by Stephen Leonardi.",
    startYear: "2017",
    endYear: "2017",
  },
  {
    name: "CLC Inc",
    description:
      "Through my freeCodeCamp network, I secured a position as a Software Engineer, working on the MERN stack. In addition to supporting legacy code written in Backbone and JQuery, I also created new features for financial products.",
    image: "capitol-interior",
    imageAlt: "The Capitol dome's interior. Image by Ravi Krishnappa.",
    startYear: "2017",
    endYear: "2018",
  },
  {
    name: "SBM Management",
    description:
      "Another connection from freeCodeCamp led to a contract job involving the conversion of an Angular application to React. I worked closely with the team to architect the front-end infrastructure and successfully rebuilt the entire application within a few months.",
    image: "amtrak",
    imageAlt: "Historic Amtrak Trains in Old Sacramento. Image by Simon Hurry.",
    startYear: "2018",
    endYear: "2019",
  },
  {
    name: "4insite",
    description:
      "After the termination of the contract with SBM, I was offered a full-time position where I continued to support existing features, create new ones, and enhance the front-end infrastructure. Two years later, I was promoted to Lead FE Engineer.",
    image: "tower-records",
    imageAlt: "Tower Records building in frame. Image by Justin W.",
    startYear: "2019",
    endYear: "2022",
  },
  {
    name: "Contractor",
    description:
      "I started consulting and providing full-stack services, guiding clients through the development and design process while empowering them to manage their own content.",
    image: "sunflowers",
    imageAlt: "A field of sunflowers. Image by Sofia Ornelas.",
    startYear: "2020",
    endYear: "",
  },
];

const workExpImages = [
  amtrak,
  bridge,
  capitolInterior,
  coffee,
  meetup,
  sunflowers,
  towerRecords,
] as unknown as ImageMetadata[];
const workExp: (Omit<(typeof workExpJson)[0], "image"> & {
  image: ImageMetadata;
})[] = [];
for (const exp of workExpJson) {
  workExp.push({
    ...exp,
    image: workExpImages.find((image) =>
      image.src.includes(exp.image),
    ) as ImageMetadata,
  });
}

const { className = "" } = Astro.props;
---

<section id="work" class={`relative py-8  ${className}`}>
  <h2 class="text-heading container">Work.</h2>
  <div class="isolate mx-auto flex max-w-screen-2xl flex-col lg:flex-row">
    {
      workExp.map((exp) => (
        <div class="work_container">
          <div class="work_img_container">
            <Picture
              src={exp.image}
              widths={[320, 640, 768]}
              format="avif"
              class="work_img"
              alt={exp.imageAlt}
              loading="lazy"
              quality="low"
            />
          </div>
          <h3 class="work_year">
            {exp.startYear === exp.endYear
              ? exp.startYear
              : `${exp.startYear} - ${exp.endYear || "Present"}`}
          </h3>
          <div class="work_content">
            <h4 class="work_title">{exp.name}</h4>
            <p class="work_description">{exp.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>
<style>
  h4 {
    font-size: clamp(1.15rem, 1vw, 2.5rem);
  }

  .work_container {
    position: relative;
    overflow: hidden;
    height: 200px;

    @screen lg {
      height: 400px;
      flex-basis: 20%;
      transition: flex-basis 0.5s;

      &:hover {
        flex-basis: 40%;
      }
    }

    @screen xl {
      height: 600px;
    }

    &:hover {
      @screen lg {
        .work_img_container {
          &::after {
            background-image: none;
          }

          .work_img {
            filter: none;
          }
        }

        .work_content {
          transform: translateY(0);

          .work_description {
            opacity: 1;
          }
        }
      }

      .work_year {
        @screen lg {
          top: 30%;
        }

        @screen xl {
          top: 50%;
        }
      }
    }

    .work_img_container {
      height: inherit;

      .work_img {
        object-fit: cover;
        height: 100%;
        width: 100%;

        @screen lg {
          filter: grayscale(1) blur(0.5px);
          transition: filter 0.5s;
        }
      }

      &::after {
        @apply bg-gradient-to-tr from-blue-900 to-slate-800;
      }

      @screen lg {
        &::after {
          display: block;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          opacity: 0.5;
          z-index: 1;
        }
      }
    }

    .work_year {
      @apply border-slate-100 py-3 font-vidaloka text-slate-100;

      position: absolute;
      top: 4rem;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      z-index: 10;

      text-align: center;
      min-width: 60px;

      @screen lg {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: top 0.5s;
        border-top-width: 1px;
        border-top-style: solid;
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }

      @screen xl {
        top: 75%;
      }
    }

    .work_content {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      @screen lg {
        transform: translateY(100%);
        transition: transform 0.5s;
      }

      &::before {
        @apply bg-black bg-opacity-50 bg-gradient-to-b from-black/20 lg:bg-transparent lg:bg-gradient-to-t lg:from-black;

        display: block;
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
      }

      .work_title {
        @apply top-4 tracking-widest text-green-500 lg:top-1/2 lg:text-xl xl:top-2/3;

        position: relative;
        text-transform: uppercase;
        text-align: center;
      }

      .work_description {
        @apply p-4 text-xs text-slate-100 lg:text-sm;

        position: relative;
        top: 4rem;
        text-align: center;

        @screen lg {
          top: 50%;
          opacity: 0;
          transition: opacity 1s;
          text-align: left;
        }

        @screen xl {
          top: 66.66%;
        }
      }
    }
  }
</style>
