---
interface Props extends Post {
  url: string;
  className?: string;
}

const {
  date,
  description,
  image,
  imageAlt,
  title,
  url,
  className = "",
} = Astro.props;
---

<div class={className}>
  <time
    class="hidden mt-4 ml-8 text-slate-500 italic whitespace-nowrap sm:block"
  >
    {date}
  </time>
  <a
    href={url}
    class="block group w-full rounded-lg bg-slate-50/50 overflow-hidden transition-all duration-500 ease-out hover:bg-slate-300 hover:shadow-lg sm:h-[200px]"
  >
    <div class="h-full flex">
      <div class="p-4 h-full flex flex-col flex-grow justify-between space-y-4">
        <div>
          <h5 class="text-slate-800 text-2xl font-bold line-clamp-1 sm:mb-3">
            {title}
          </h5>
          <time class="block text-slate-500 italic mb-2 sm:hidden">
            {date}
          </time>
          <p class="text-slate-600 line-clamp-3">{description}</p>
        </div>
        <div
          class="text-slate-100 py-1.5 px-2 rounded bg-slate-900 inline-block w-max text-sm"
        >
          Read More
        </div>
      </div>
      <div
        class="hidden overflow-hidden flex-shrink-0 sm:block sm:w-40 xl:w-60"
      >
        <img
          src={image}
          alt={imageAlt}
          class="h-full w-full object-cover transition-transform duration-500 ease group-hover:scale-110"
        />
      </div>
    </div>
  </a>
</div>
