---
interface Props {
  className?: string;
}

// assets
import amtrak from "src/assets/images/amtrak.jpg";
import bridge from "src/assets/images/bridge.jpg";
import capitolInterior from "src/assets/images/capitol-interior.jpg";
import coffee from "src/assets/images/coffee.jpg";
import meetup from "src/assets/images/meetup.jpg";
import sunflowers from "src/assets/images/sunflowers.jpg";
import towerRecords from "src/assets/images/tower-records.jpg";
import '@styles/work.css';

// components
import { Image } from "@astrojs/image/components";

// data
import workExpJson from "src/data/experience.json";

const workExpImages = [
  amtrak,
  bridge,
  capitolInterior,
  coffee,
  meetup,
  sunflowers,
  towerRecords,
] as unknown as ImageMetadata[];
const workExp: (Omit<typeof workExpJson[0], "image"> & {
  image: ImageMetadata;
})[] = [];
for (const exp of workExpJson) {
  workExp.push({
    ...exp,
    image: workExpImages.find((image) =>
      image.src.includes(exp.image)
    ) as ImageMetadata,
  });
}

const { className = "" } = Astro.props;
---

<section id="work" class={`relative py-8  ${className}`}>
  <h2 class="text-heading container">Work.</h2>
  <div class="flex flex-col isolate max-w-screen-2xl mx-auto md:flex-row">
    {
      workExp.map((exp) => (
        <div class="work_container">
          <div class="work_img_container">
            <Image
              src={exp.image}
              width={600}
              height={800}
              format="jpeg"
              class="work_img"
              alt={exp.imageAlt}
            />
          </div>
          <h3 class="work_year">
            {exp.startYear === exp.endYear
              ? exp.startYear
              : `${exp.startYear} - ${exp.endYear || "Present"}`}
          </h3>
          <div class="work_content">
            <h4 class="work_title">
              {exp.name}
            </h4>
            <p class="work_description">
              {exp.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</section>
<style>
  h4 {
    font-size: clamp(1.15rem, 1vw, 2.5rem);
  }
</style>
